//VARIABLES
$headerBackground: #fff;
$headerLogoBackgroundPosition: left center;
$headerLogoWidth: 60px;
$headerLogoHeight: 60px;

//IMPORT
@import "../../../../colonel/src/components/header/styles";

//CUSTOM

