/**
 * @file
 * Admin item.
 */

.admin-list:not(.admin-list--panel) {
  position: relative;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .admin-item {
    position: relative;
    border: none;
    @extend %parent-focus;
    .admin-item__title {
      @extend %nttdata-card-title;
      position: unset;
      display: flex;
      margin-left: 0;
      &:after {
        border-top-right-radius: 3rem;
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .admin-item__link {
      position: unset;
      @extend %stretched-link;
      &:before {
        content: none;
      }
    }
  }
}

.admin-item__description {
  color: $text-grey;
}
