/**
 * @file
 * Commerce.
 */

form[class^="commerce"] {
  .button {
    &[type="submit"]:not([value="Edit"]):not(.button--secondary) {
      @extend %button-primary;
      &[value="Remove"] {
        @extend %button-danger;
      }
    }
  }
}

.commerce-dashboard {
  &--management-links .management-link a {
    background-color: $white2;
    color: $text-dark;
    border-color: $ck-grey2;
    &:hover {
      background-color: $ck-grey;
    }
  }

  &--inbox {
    .inbox-header__unread-text {
      @extend %tag;
      background: var(--commerce-color--warning);
      color: $text-black;
    }
    .inbox-message {
      &--wrapper {
        background-color: $white;
        color: $text-dark;
      }
      &:hover {
        background-color: $ck-grey;
      }
      .close {
        @include focus-outline;
        &:hover {
          color: $text-lightgrey;
        }
      }
    }
    .inbox-footer--wrapper {
      background-color: $blue-light;
      color: $text-dark;
    }
  }

  &__metrics {
    background-color: $white;
    color: $text-dark;
  }

  &__actions {
    justify-content: flex-end;
  }

  .action-link--danger {
    @extend %button-dimensions;
    text-decoration: none;
  }
}