{#
/**
 * @file
 * Default theme implementation for a single local action link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - link: A rendered link element.
 *
 * @see template_preprocess_menu_local_action()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'btn',
    'btn-primary'
  ]
%}
<li{{ attributes }}>{{ link(item.text, item.url, {'class': classes}) }}</li>
