{% set attributes = attributes|default(create_attribute()) %}

{% if variant %}
  {% set attributes = attributes.addClass('fr-links-group-' ~ variant) %}
{% endif %}

<ul{{ attributes.addClass('fr-links-group') }}>
  {% for item in items %}
    <li>
      {{ include('dsfr4drupal:link', item, with_context=false) }}
    </li>
  {% endfor %}
</ul>
