/********************/
/* CUSTOM STYLE CSS */
/********************/
/* 
Place your custom CSS and CSS overrides in this file, after renaming it to 
'custom-style.css'.

Steps for customizing your theme:
1. Incorporate your custom CSS into this file.
2. Uncomment various examples below and adjust the data to your preferences.
3. Clear cached data at /admin/config/development/performance or use 
   "Flush all caches" in the Admin Menu, then press CTRL+F5.
*/



/* Erase or comment the lines below to get rid of the image in the right 
   sidebar and the brand image at the bottom */
#brand {
	background: url(../images/logo/grey/abc.png) 50% 0 no-repeat;
	background-size: 48px 32px;
	margin: 0 auto 1em;
	height: 50px;
}


/******* THEMER STYLE *******/
/* Put here your custom CSS */
/****************************/
/* Set one or more elements on the ABC settings page (/admin/appearance/settings/abc) 
   to "None (custom)" and uncomment and modify the corresponding lines below: */

/*### static background ###*/
/*
.bi0.bgs #bg1 { background: transparent url(t1-.png) 0 0 repeat-x; }
.bimg.bi0.bgs #bg2 { background: transparent url(top-.png) 50% 0 no-repeat; }
*/

/*### fixed background ###*/
/*
.bi0.bgf #bg1 { background: transparent url(t1-.png) 0 0 repeat-x fixed; }
.bimg.bi0.bgf #bg2 { background: transparent url(top-.png) 50% 0 no-repeat fixed; }
*/

/*### Background bottom ###*/
/*
.bi0.bgs, .bi0.bgf { background: transparent url(t2-.png) 0 100% repeat-x; }
*/

/*### Site name & Node title colors ###*/
/*
.sn0 #name-and-slogan a { color: red; }
.nt0 .page-title, .nt0 h2 a span { color: green; }
*/

/*### Block title colors ###*/
/*
.bt0 .block-title { color: blue; }
*/

/*### Top menu items rollover color ###*/
/*
.tr0 .region-toplinks li a:hover, .tr0 .region-toplinks li a.active { color: red !important; background: transparent url(b-.png) 50% 100% no-repeat; }
*/

/*### First & last menu item colors ###*/
/*
.fb0 .first .primary-nav__menu-link--level-1 { background: red; }
.lb0 .last .primary-nav__menu-link--level-1 { background: magenta; }
*/

/*### Menu item color & rollover color ###*/
/*
.mb0 .pure-menu-link { background: green; color: white; }
.mr0 .pure-menu-link:hover, .mr0 .pure-menu-link:focus { background: orange; color: black; }
*/

/*
@media screen and (max-width: 48em) {
	.pure-menu-list {
		background: #fff;
	}
	.pure-menu-link {
		color: #000 !important;
		border-top: 1px solid #eee !important;
	}
	.pure-menu-link:hover, .pure-menu-link:focus {
		background: #e6e6e6 !important;
	}
}
*/


/**************/
/* TYPOGRAPHY */
/**************/
/*
html {
	line-height: 1.25;
}
p:first-of-type:first-letter {
	font-size: 200%;
}*/


/************************/
/* CHANGE LOGO POSITION */
/************************/
/*
.logoimg {
	padding: .5em 1em;
}*/


/**********************************/
/* CHANGES MENU TOGGLE BARS COLOR */
/**********************************/
/*
.menu-toggle { background: #ffd; }
.menu-toggle .bars { background: #900; }
*/


/*************************/
/* DROP DOWN ADJUSTMENTS */
/*************************/

/* no dropdown shadows */
/*
.pure-menu-children .pure-menu-link {
	box-shadow: none;
}*/


/******************************/
/* HIDE some TITLES, READMORE */
/******************************/
/* Uncomment the first declaration below to hide all titles on the front page 
   Addapt the second declaration to hide a node type titles on the frontpage. 
   Third one is for no "Read more" on the front page. */ 
/*
.front #main h2 .field--name-title { display: none; }
.front #main .node--type-article h2 .field--name-title { display: none; }
.front .node-readmore { display: none; }
*/


/**********************/
/* ROUND USER PICTURE */
/**********************/
/*
.field--name-user-picture img {
	border-radius: 100% !important;
}*/


/**********************************/
/* IMAGE POSITION for ALL CONTENT */
/**********************************/
.field-item .pure-img, 
.colorbox .pure-img {
	float: left; /* LTR */
	margin: 0 1em 1em 0; /* LTR */
}
[dir="rtl"] .field-item .pure-img, 
[dir="rtl"] .colorbox .pure-img {
	float: right;
	margin: 0 0 1em 1em;
}


/***********************************/
/* IMAGE POSITION per CONTENT TYPE */
/***********************************/
/*
.node-book .field-item .pure-img,
.node-book .colorbox .pure-img {
	float: right;
	margin: .6em 0 .6em .6em;
}
.node-blog_post .field-item .pure-img,
.node-blog_post .colorbox .pure-img {
	float: right;
	margin: .6em 0 .6em .6em;
}*/


/*************************/
/* CENTERED BLOCK IMAGES */
/*************************/
.block img:not(.region-content img, .region-header img) {
	margin: 0 auto;
}


/*************/
/* SLIDESHOW */
/*************/
/* Centered text */
/*
.txww {
	text-align: center;
}*/
/* min height on mobiles */
#slider img {
	min-height: 10em;
}
/* Images animation */
/*
#slider img {
	animation-name: zoom;
	animation-duration: 30s;
	animation-iteration-count: infinite;
}
@keyframes zoom {
	0% {transform: scale(1)}
	50% {transform: scale(1.15)}
	100% {transform: scale(1)}
}*/


/********************************/
/* BORDER FOR NON-THEMED BLOCKS */
/********************************/
/*
#sidebar-left .block, #sidebar-right .block {
	border: 1px solid #ddd;
}*/


/*******************************************************/
/* THEMED BLOCKS and REGION CONTENT BACKGROUND COLOURS */
/*******************************************************/
/*
.themed-block .content {
  border: 1px solid #ddd;
  background-color: #f8fff0;
}
#main .region-content, #mission {
  border: 1px solid #ddd;
  background-color: #f8fff0;
}*/


/****************************************/
/* USER BLOCKS EQUAL VERTICAL ALIGNMENT */
/****************************************/
/*
@media screen and (min-width: 48em) {
	#section1 .block {
		min-height: 250px;
	}
}*/


/****************/
/* LINKS COLOR  */
/* #c09; pink   */
/* #390; green  */
/* #f60; orange */
/* #069; blue   */
/* #444; grey   */
/****************/
/*
.region-content .field--name-fid a,
.region-content .field--name-body a,
.region-content .item-description a {
	color: #c09;
}*/


/***************************/
/* INLINE LINKS & ADDTOANY */
/***************************/
/*
.addtoany_list, .node__links {
	display: inline-block;
}*/


/************************/
/* OTHER SOCIAL NETWORK */
/************************/
#soclinks .myother {
	background: transparent url(myother-social-network_32.png) no-repeat center center;
}


/*****************************************************/
/* Bad alignment of Author and Date line in Drupal 8 */
/*****************************************************/
/*
.node__submitted, p.comment__submitted {
	display: flex;
}
.node__submitted .field, p.comment__submitted .field, p.comment__submitted a {
	margin: 0 .3em;
}*/


/************************************************/
/* Alternate node backgrounds on homepage/views */
/************************************************/
/*
.region-content .node--view-mode-teaser {
	padding: .5em;
}
.region-content li:nth-child(2n+2) .node--view-mode-teaser,
.region-content .views-row:nth-child(2n+1) .node--view-mode-teaser {
	background: #eee;
	padding: .5em;
}*/


/************************/
/* EU COOKIE COMPLIANCE */
/************************/
div#sliding-popup, div#sliding-popup .eu-cookie-withdraw-banner, .eu-cookie-withdraw-tab {
	background: #069;
}
.agree-button.eu-cookie-compliance-secondary-button {
	cursor: pointer;
	margin-right: 5px;
	margin-top: 1em;
	vertical-align: middle;
	overflow: visible;
	width: auto;
	-moz-box-shadow: inset 0 1px 0 0 #ffffff;
	-webkit-box-shadow: inset 0 1px 0 0 #ffffff;
	box-shadow: inset 0 1px 0 0 #ffffff;
	background-color: #ededed;
	background-image: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf));
	background-image: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background-image: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background-image: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background-image: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	color: #000;
	font-family: Arial, sans-serif;
	font-weight: bold;
	padding: 4px 8px;
	text-decoration: none;
	text-shadow: 1px 1px 0 #ffffff;
}



/*** MEDIA SCREENS (35.5, 48 & 64em) ***/

@media screen and (max-width: 64em) {
/* BACKGROUND IMAGE */
/* Comment or erase the lines below to have background image. */
	#bg1, #bg2, .bgs, .bgf {
		background: none !important;
	}
/* HEADER IMAGE */
/* You can put a static image like "mobi-dot.png" or "mobi-sq.png", 
   use your own, or simply none. */
   /*
	#header {
		background: #fff url(../images/mobi-dot.png) repeat;
	}*/
}	



/*************************************/
/* Sidebars' blocks adaptive display */
/*************************************/
@media screen and (max-width: 64em) {
	#sidebar-left .block-wrapper,
	#sidebar-right .block-wrapper {
		width: 47.5%;
		margin: 0 2% 0 0;
		display: inline-block;
		vertical-align: top;
	}
}
@media screen and (max-width: 48em) {
	#sidebar-left .block-wrapper,
	#sidebar-right .block-wrapper {
		width: 100%;
		margin: 0;
		display: block;
	}
}
