{% set classes = [
  title_display == 'after' ? 'option',
  title_display == 'invisible' ? 'visually-hidden',
  required ? 'js-form-required',
  required ? 'form-required',
  'fr-label',
] %}
{% if title is not empty or required -%}
  <label{{ attributes.addClass(classes) }}>{{ title }}
    {% if description.content %}
      <span{{ description.attributes.addClass('fr-hint-text') }}>{{ description.content }}</span>
    {% endif %}
  </label>
{%- endif %}
