{# cspell:ignore offcanvas #}
<div class="layout-form clearfix row">
  <div class="layout-region layout-region--main">
    <div class="layout-region__content">
      {% block main %}
      {% endblock %}
    </div>
  </div>
  <div class="offcanvas offcanvas-end layout-region layout-region--secondary" tabindex="-1" id="offcanvasSecondary" aria-labelledby="offcanvasSecondaryLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasSecondaryLabel">{{ form['#title'] }}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="layout-region__content offcanvas-body">
      {% block secondary %}
      {% endblock %}
    </div>
  </div>
  <div class="layout-region layout-region--footer sticky-bottom">
    <div class="layout-region__content d-flex justify-content-end py-2">
      {% block footer %}
      {% endblock %}
      <button class="btn btn-outline-dark ms-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSecondary" aria-controls="offcanvasSecondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ 'Show settings'|trans }}" title="{{ 'Show settings'|trans }}">
        <i class="bi bi-layout-text-sidebar"></i>
      </button>
    </div>
  </div>
</div>
